.repoContainer {

  padding: 1rem;
  transition: margin-left 0.3s ease;

}

.repoMenu {

  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  background-color: rgba(0, 100, 255);
  width: var(--menu-width-fechado);
  height: 100vh;
  width: 170px;
  left: 70px; 
  border-left: none; 
  overflow: hidden;
  z-index: 999;
  overflow-x: hidden;
  
}



.repoTitulo {

  text-align: center;
  color: white;
  padding: 2rem 0 ;
  font-family: Ubuntu;
  font-size: 0.5rem;
  overflow-wrap: break-word;
  transition: font-size 0.3s;

}


.repoNav {



  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
}


.repoLink {

  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s;
  white-space: nowrap;
}


.repoLink:hover {
  background-color: rgba(255, 255, 255, 0.15);
}


.repoIcon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}


.repoLink span {

    font-size: 0.7rem;
    font-family: Ubuntu, sans-serif;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
    
}

.repoMenu:hover .webLink span {
  opacity: 1;
}


.repoIcon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}


.line{

  width: 100%;
  border: 1px solid rgba(239, 235, 235, 0.344);
}

.span{

  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(197, 191, 191, 0.572);
}