.CCSContainer {
    display: flex;
    min-height: 100vh;
}


.CCSImage {

  position: absolute;
  top: 50%;
  left: 55%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  will-change: transform;
}



.CCSContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
}

.CCSTitulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.CCSImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
