.compContainer {

  display: flex;
  min-height: 100vh;
  
}

.compMenu{

  position: fixed;
  top: 0;
  left: 260px;
  height: 100vh;
  width: 100px;
  background-color: rgba(0, 102, 255, 0.866);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 9998;
  
}



.compTitulo {

  text-align: center;
  color: white;
  padding: 1.6rem 0;
  font-family: Ubuntu;
  font-size: 0.7rem;

}



.compNav {

  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
  top: 435px;
}


.compLink {

  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s;
  white-space: nowrap;
}

.compLink:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.compIcon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.compLink span {

  font-size: 0.7rem;
  font-family: Ubuntu, sans-serif;
  transition: opacity 0.2s;
}

.compMenu:hover .ecogLink span {
  opacity: 1;
}


.compIcon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}