.ledONOFF{

    position: absolute;
    width: 5px;
    height: 5px;
    left: 170px;
    top: 8px;
}

.bb2Menu{

    position: fixed;
    top: 20px;
    background-color: rgba(123, 127, 134, 0.226);
    width: auto;
    height: 60px;
    left: 18%; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 0 #72707083, 0 4px 4px rgb(167, 165, 165);
    overflow-x: hidden;

}


.stTitulo{

    position: fixed;
    font-size: 0.5rem;
    top: 80px;
    left: 260px;
    color:rgba(68, 73, 77, 0.501)
}



.bb2Nav {

  flex-direction: row;
  gap: 0.75rem;
  padding: 0.5rem 0.5rem;
}

.bbBtnConexao {

    font-size: 0.8rem;
    font-weight: bold;
    background: rgb(25, 85, 172);
    color: white;
    width: 180px;
    height: 40px;  
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    box-shadow: 0 5px 0 #8a878783, 0 8px 8px rgb(160, 151, 151);
  
}

.bbBtnConexao:hover:not(:disabled) {

    background-color:  rgba(20, 94, 198, 0.882);
   
   
}

.bbBtnConexao:active:not(:disabled) {

    transform: translateY(5px);  
   
}

.bbBtnConexao:disabled {

    opacity: 0.5;
    cursor: not-allowed;
    background-color: #94a3b8;  
    box-shadow: none;
    transform: none;
}


.controlbuttonGreen {

    position: relative;
    background-color: #61dafb;
    border-radius: 8px;
    color: #282c34;
    cursor: pointer;
    transition: all 0.3s;
    width: 180px;
    height: 40px;
    box-shadow: 0 5px 0 #8a878783, 0 8px 8px rgb(160, 151, 151);
}

.controlbuttonGreen:hover:not(:disabled) {

    background-color: #4fa8c7;
    transform: scale(1.05);
}

.controlbuttonGreen.loading {

    opacity: 0.5;
    cursor: not-allowed;
}


.controlbuttonRed {

    position: relative;
    background-color: #61dafb;
    border-radius: 8px;
    color: #282c34;
    cursor: pointer;
    transition: all 0.3s;
    width: 180px;
    height: 40px;
    box-shadow: 0 5px 0 #8a878783, 0 8px 8px rgb(160, 151, 151);
}

.controlbuttonRed:hover:not(:disabled) {

    background-color: #4fa8c7;
    transform: scale(1.05);
}

.controlbutton.loadingRed {

    opacity: 0.5;
    cursor: not-allowed;
}




.outputs{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    gap: 0.75rem
}


.btnOutputs {

    display: flex;
    flex-direction: row;
    gap: 10px;         
    padding: 10px 20px;
    width: auto;        
    min-width: max-content; 
    height: auto;        
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background: rgb(25, 85, 172);
    transition: all 0.1s ease;
    cursor: pointer;
    color: #fffbfb;
    font-weight: bold;
}


.btnOutputs:active {

    transform: translateY(5px);
    box-shadow: 
        0 2px 0 #b0b0b0,  
        0 4px 8px rgba(0,0,0,0.2);
}


.hero {

  position: fixed;
  left: 210px;
  top: 100px;
  width: 250px;
  height: 150px;
  overflow: hidden;

}

.imagem {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  object-fit: fill; 
}

.grid {

    position: fixed;
    top: 270px;
    left: 280px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 15px;
    grid-auto-rows: 100px;  
}

.grid div {

    background-color: rgba(66, 70, 66, 0.098);
    border-radius: 8px;
}

.h1{

    font-size: 0.8rem;
    padding: 0.5rem;
    color:#0000009f

}

.spamPU{

    position: absolute;
    top: 135px;
    font-size: 0.7rem;
    left: 75px;
    word-break: normal;
}

.hero2 {

  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  left: auto;
  top: 100px;
  width: 250px;
  height: 160px;
  overflow: hidden;
}

.imagem2 {

  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 105%;
  object-fit: fill; 
}

.spamBB{

    position: absolute;
    text-align: center;
    top: 135px;
    font-size: 0.7rem;
    left: 62px;
}

.rodape {

    background-color: #f0f0f07a;
    padding: 1.2rem;
    text-align: center;
    font-size: 0.8rem;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.098);
    border-bottom: 1px solid #ccc;
    position: relative;
    top: 80vh;
    width: auto;
    height: auto;
}