.toolContainer {

    display: flex;
    min-height: 100vh;

}

.toolMenu {

    position: fixed;
    top: 0;
    background-color: rgba(0, 100, 255);
    width: 170px;
    height: 140vh;
    min-width: 100px;
    left: 70px; 
    border-left: none; 
    overflow: hidden;
    z-index: 999;
  
}

.toolTitulo {

    text-align: center;
    color: white;
    padding: 1.6rem 0;
    font-size: 0.5rem;

}



.toolNav {

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 0.5rem;
}


.toolLink {

    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s;
    white-space: nowrap;
}

.toolLink:hover {

    background-color: rgba(255, 255, 255, 0.15);
}

.toolIcon {

    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.toolLink span {

    font-size: 0.7rem;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    gap: 25px;
}

.toolMenu:hover .toolLink span {

    opacity: 1;
}


.toolIcon {

    width: 22px;
    height: 22px;
    flex-shrink: 0;
}
