.conteiner {
  
  display: flex;
  min-height: 100vh;
}

.tabConfg {

  position: fixed;
  top: 0;
  left: 300px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;

}

.tabFunc {

  position: fixed;
  top: 0;
  left: 700px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;

}

.tabPL {

  position: fixed;
  top: 0;
  left: 1100px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;

}

.tabBuf1{

    position: fixed;
    top: 0;
    left: 600px;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(59, 58, 56, 0.027);
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}

.tabBuf2{

    position: fixed;
    top: 0;
    left: 1000px;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color:rgba(59, 58, 56, 0.027);
    gap: 10px;
    padding: 10px;
    z-index: 1000;
    
    
}

.tabBuf3{

    position: fixed;
    top: 0;
    left: 1400px;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(59, 58, 56, 0.027);
    gap: 10px;
    padding: 10px;
    z-index: 1000;
}



.header {

    position: relative;
    top:14px;
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 10px;
    font-family: Ubuntu;
    height: 8vh;
    text-align: center;    
}

.headerBuf {

    position: relative;
    top:40px;
    color: rgb(80, 78, 78);
    text-align: center;
    font-size: 8px;
    font-family: Ubuntu;
    height: 8vh;
    text-align: center;    
}


.line1{

    position: absolute;
    top: 690px;
    left: 0;
    width: 299px;
    background-color: rgba(0, 48, 90, 0.452);
    height: 180px;
}

.line2{

    position: absolute;
    top: 490px;
    left: 0;
    width: 299px;
    background-color: rgba(0, 48, 90, 0.452);
    height: 180px;

}

.line3{

    position: absolute;
    top: 290px;
    left: 0;
    width: 299px;
    background-color: rgba(0, 48, 90, 0.452);
    height: 180px;

}

.line4{

    position: absolute;
    top: 90px;
    left: 0;
    width: 299px;
    background-color: rgba(0, 48, 90, 0.452);
    height: 180px;

}

.lineHeader{

    position: relative;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: Ubuntu;
    height: 8vh;
    text-align: left;

}