.containerPrincipal {
  display: flex;
  min-height: 100vh;
}

.menuPrincipal {

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: rgb(25, 85, 172);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
  transition: width 0.25s ease;
}

.menuPrincipal:hover {
  width: 160px;
}


.menuPrincipal-Item {

  display: flex;
  align-items: center;
  gap: 12px;
  height: 45px;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 11px;
  color: white;
  border-radius: 8px;
  padding: 5px;
  opacity: 0,7;
}


.icon {
  width: 26px;
  min-width: 26px;
  opacity: 1;
}

.menuPrincipal-Item .icon:hover{
  opacity: 0.5;
}


.menuPrincipal-Item  span {

  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.menuPrincipal:hover .menuPrincipal-Item span {
  
  opacity: 1;
}

/*
.menuItem:hover {
 background-color: rgba(36, 51, 59, 0.321);
}
*/


.Principal-Titulo {

    position: relative;
    top:14px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    font-family: Ubuntu;
    height: 8vh;
    text-align: center;    
}



