.header{

    position: absolute;
    top: 10px;
    left: 280px;

}

.titulo{

    color: rgba(0, 0, 0, 0.539);
    font-size: 1.2rem;
}

.container {

    position: absolute;
    left: 280px;
    top: 65px;
    display: grid;
    grid: repeat(4, 170px) / repeat(4, 240px);
    column-gap: 60px;
    row-gap: 20px;
    
}

.container > div {

    
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 0 #15151583, 0 8px 8px rgb(182, 183, 181);
}


/*aproxima a coluna 4 da 3*/
.container > div:nth-child(4n+4) {
    transform: translateX(-45px);  
}

.card{

    width: auto;
    height: auto;
    font-display: flex;
    flex-direction: column;
    font-size: 0.5rem;
}

.card_text{

    padding: 0.2rem;
    color: rgba(0, 0, 0, 0.601);
}


.lines{

    position: absolute;
    left: 260px;
    top: 125px;
    width: auto;
    height: auto;
}

.line{

    display: flex;
    flex-direction: column;
    font-size: 0.4rem;
    gap: 160px;
    color:rgba(3, 27, 58, 0.382)

}






.Menu{

    position: absolute;
    width: auto;
    top: 10px;
    left: 260px;
    border: 1px solid black;
}

.test{

    position: absolute;
    top: 10px;
    left: 350px;
    border: 1px solid black;
}